.categories {
    display: flex;
    a {
        display: block;
        height: 100%;
        padding: 2rem 0.5rem;
        text-transform: uppercase;
        color: #1d1f22;
    }
    .active {
        color: #5ece7b;
        border-bottom: 0.1rem solid #5ece7b;
    }
}