<div *ngIf="product" class="wrapper">
    <p>Id: {{ product.id }}</p>
    <hr />
    <div [hidden]="submitted">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
                <label for="title">Title: </label>
                <input type="text" formControlName="title" id="title" name="title" />
            </div>
            <div class="field">
                <label for="description">Description: </label>
                <input type="text" formControlName="description" id="description" name="description" />
            </div>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </form>
    </div>
    <hr />
    <p>Product: {{ product.title }}</p>
    <p>Description: {{ product.description }}</p>
</div>

<!-- <div *ngIf="product" class="wrapper">
    <p>Id: {{ product.id }}</p>
    <hr />
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #productForm="ngForm">
            <div class="field">
                <label for="title">Title: </label>
                <input type="text" #check #title="ngModel" id="title" [(ngModel)]="product.title" name="title" required minlength="3" maxlength="50" />
                <div *ngIf="title.errors?.minlength || title.errors?.maxlength">
                    Name must be at least 3 and max 50 characters long.
                    <p>{{ check.className }}</p>
                </div>
            </div>
            <div class="field">
                <label for="description">Description: </label>
                <input type="text" #description="ngModel" id="description" [(ngModel)]="product.description" name="description" required minlength="3" maxlength="50" />
                <div *ngIf="description.errors?.minlength || description.errors?.maxlength">
                    Name must be at least 3 and max 50 characters long.
                    <p>{{ check.className }}</p>
                </div>
            </div>
            <button type="submit" [disabled]="!productForm.form.valid">Submit</button>
        </form>
    </div>
    <hr />
    <p>Product: {{ product.title }}</p>
    <p>Description: {{ product.description }}</p>
</div> -->
