<div class="wrapper">
    <div class="image">
        <img [src]="product.image" [alt]="product.title" />
    </div>
    <div class="description">
        <p class="title">{{ product.title }}</p>
        <p>
            Price: <span>{{ product.price | currency: "EUR" }}</span>
        </p>
    </div>

    <div class="buttons">
        <!-- <button (click)="modalService.showModal = true">Show Modal</button> -->
        <a [routerLink]="['/store/product-details', product.id]">View Details</a>
        <button (click)="addToCart(product)">Add to cart</button>
    </div>
</div>
<app-product-modal [product]="product"></app-product-modal>