<div class="wrapper">
    <div class="image">
        <img [src]="product.image" [alt]="product.title" />
    </div>
    <div class="description">
        <p class="title">{{ product.title }}</p>
        <p>
            Price: <span>{{ product.price | currency: "EUR" }}</span>
        </p>
    </div>
    <!-- <button (click)="details = !details" [ngClass]="{ btn: !details }">
    {{ details ? "Hide" : "Show" }}
  </button> -->
    <div class="edit">
        <a routerLink="edit-product">Edit product fields</a>
    </div>
    <div class="buttons">
        <button (click)="modalService.showModal = true">Show Modal</button>
        <a [routerLink]="['/store/edit-product', product.id]">View Details</a>
        <button (click)="addToCart(product)">Add to cart</button>
    </div>
</div>
<app-product-details [product]="product"></app-product-details>