<div class="container">
    <app-navbar></app-navbar>
    <div class="wrapper">
        <!-- <button *ngFor="let product of products" (click)="selectProduct(product)" [routerLink]="['edit-product/', product.id]">
      {{ product.id }}
    </button> -->
        <a routerLink="/edit-product">Choose product by Id</a>

        <!-- <div class="buttons">
            <a class="button" *ngFor="let product of products" [routerLink]="['edit-product/', product.id]">{{ product.id }}</a
      >
    </div> -->
        <router-outlet></router-outlet>
    </div>
</div>
