.container {
    width: 1000px;
    margin: 0 auto;
    h2 {
        text-align: center;
    }
    .wrapper {
        button {
            padding: 1rem;
            margin: 1rem;
        }
        p {
            margin: 1rem 0;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
            .button {
                background-color: #5ece7b;
                padding: 1.7rem;
                cursor: pointer;
            }
        }
    }
}
